@charset "UTF-8";
/********************
 * 摩比官网
 * author:yaohuitao@100tal.com
 * 2016-06-29
 * ******************/
html {
  font-size: 62.5%;
  min-height: 100vh; }

html, body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Microsoft Yahei; }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

.btn {
  -webkit-transition: all 0.2s 0s ease;
  -moz-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease; }

[class^="ico-"] {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  *display: block;
  background: url(../images/ico.png) no-repeat; }

@-webkit-keyframes zoomIn2 {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5, 1.5); } }

@-moz-keyframes zoomIn2 {
  0% {
    opacity: 0.5;
    -moz-transform: scale(1, 1); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5, 1.5); } }

@keyframes zoomIn2 {
  0% {
    opacity: 0.5;
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    transform: scale(1.5, 1.5); } }

@-webkit-keyframes zoomIn3 {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.4, 0.4); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3, 1.3); } }

@-moz-keyframes zoomIn3 {
  0% {
    opacity: 0.8;
    -moz-transform: scale(0.4, 0.4); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.3, 1.3); } }

@keyframes zoomIn3 {
  0% {
    opacity: 0.8;
    transform: scale(0.4, 0.4); }
  100% {
    opacity: 0;
    transform: scale(1.3, 1.3); } }

@-webkit-keyframes newsarr {
  0% {
    opacity: 0.2;
    -moz-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(20px); } }

@-moz-keyframes newsarr {
  0% {
    opacity: 0.2;
    -moz-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(20px); } }

@keyframes newsarr {
  0% {
    opacity: 0.2;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(20px); } }

@-webkit-keyframes lovestar {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -10px, 0); }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0) scale(2, 2); }
  100% {
    opacity: 0;
    transform: translate3d(-15px, 0, 0) scale(0.4, 0.4) rotate(180deg); } }

@-moz-keyframes lovestar {
  0% {
    opacity: 0;
    -moz-transform: translateY(-10px); }
  50% {
    opacity: 1;
    -moz-transform: translate3d(0, -30px, 0) scale(2, 2); }
  100% {
    opacity: 0;
    transform: translate3d(-15px, 0, 0) scale(0.4, 0.4) rotate(180deg); } }

@keyframes lovestar {
  0% {
    opacity: 0;
    transform: translate3d(0, -10px, 0); }
  50% {
    opacity: 1;
    transform: translate3d(0, -30px, 0) scale(2, 2); }
  100% {
    opacity: 0;
    transform: translate3d(-15px, 0, 0) scale(0.4, 0.4) rotate(180deg); } }
